.project{
    color: #FFFFFF;
    font-size: 32px;
}


.projectTitle{
    font-size: 24px;
}

.projectDescription{
    font-size: 18px;
    word-break: normal;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
    margin: 10px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.projectBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    width: 100%;
}

.projectTech{
    width: 60%;
    min-height: 20%;
    display: flex;
    align-items: flex-end;
}

.githubImage{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.githubProj{
    position: absolute;
    bottom: 10px;
    right: 15px;
    display: flex;
    align-items: center;
}

.projectGithubLink{
    all: unset;
    font-family: 'poppins', sans-serif;
    text-decoration: underline;
}


.projectCard {
    width: 75vw;
    height: 75vh;
    cursor: pointer;
    display: flex;
    margin: 0px 15px;
    perspective: 1000px;
    
}
  
.cardInner {
    width: 75vw;
    height: 75vh;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.projectCard.flipped .cardInner {
    transform: rotateY(180deg);
}
  
.cardFront,
.cardBack {
    width: 100%;
    height: 90%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    background: #363636;
    color: white;
    flex-direction: column;
}
  
.cardBack {
    transform: rotateY(180deg);
}

.cardImage{
    width: 75vw;
}
  

.flipImage{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.5);
}
  

.slick-dots li button:before {
    color: #808080;
    font-size: 7px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }


  .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
  }



  

  .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
  }
  