.imgWrapper{
    background-color: #FBFBFB;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.techIcon{
    width: 25px;
    height: 25px;
}

.techIconWrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}