.wrapperDiv {
    position: relative;
    display: flex;

}

.menuProp {
    position: absolute;
    z-index: 2;
    right: 110px;
    bottom: 65px;
}

.menuPng {
    position: absolute; 
    z-index: 1;
    right: 80px;
    bottom: 50px;
}

[class^="property"] {
    margin-bottom: 10px;
}

[class^="property"] > button {
    all: unset;
    cursor: pointer;
    position: relative;
    color: #FFFFFF;
}

[class^="property"] > button::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #B13737;
    transition: width 0.3s ease;
}

/* On hover, animate the underline */
[class^="property"] > button:hover::after {
    width: 100%; /* Expand the underline fully */
}
