body{
  background-color: #212121;
}


.introductionDiv{
  font-family: 'Fira Code', monospace;
  color: #FFFFFF;
}

.helloIAm{
  font-size: 10px;
}

.myName{
  font-size: 32px;
}

.mySpecialization{
  font-size: 20px;
  font-weight: bold;
}

.whatDoIDo{
  font-size: 16px;
}

.contentDiv{
  margin-left: 50px;
}


