body{
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  
}


.introductionDiv{
  font-family: 'Fira Code', monospace;
  color: #FFFFFF;
}

.helloIAm{
  font-size: 10px;
}

.myName{
  font-size: 32px;
}

.mySpecialization{
  font-size: 20px;
  font-weight: bold;
}

.whatDoIDo{
  font-size: 16px;
}

.textDiv{
  margin-left: 50px;
}


/* Extra Small Devices (Mobile Phones) */
@media screen and (max-width: 480px) {
  .textDiv{
    width: 70vw;
  }
}

/* Small Devices (Large Phones) */
@media screen and (max-width: 768px) {
  .textDiv{
    width: 70vw;
  }
}

/* Medium Devices (Tablets) */
@media screen and (max-width: 1024px) {
  .textDiv{
    width: 70vw;
  }
}

/* Large Devices (Laptops) */
@media screen and (max-width: 1280px) {
  .textDiv{
    width: 70vw;
  }
}

/* Extra Large Devices (Large Screens) */
@media screen and (max-width: 1440px) {
  .textDiv{
    width: 70vw;
  }
}
